<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <meta http-equiv="Expires" content="Fri, Jan 01 1900 00:00:00 GMT">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
      body {
        background-color: #000;
        color: #fff;
      }
      div#container{
        margin: 15px;
        padding: 15px;            
        margin: 0px auto;
        width: 650px;
      }   
      div#form {
        padding: 10px;
        border: 1px solid #fff;
      }
    </style>
    <title>SimpleOTP :: One-Time Password Retrieval Tool</title>
</head>
<body>
    <div id="container">
        <img src="{{site_logo}}" width="200" alt=""><br/>
        <h2>One-Time Password Retrieval</h2>
	<div id="form">
          <form action="/getPasswordLink" method="POST">
            <br/>
            Enter user email: &nbsp; <input type="text" name="email" /><br/>
            Enter a password: &nbsp; <input type="password" name="password" /><br/><br/>
            <input type="submit" />
          </form>
	</div>
    </div>
</body>
</html>
